@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: myFirstFont;
    src: url(fonts/ProductSans-Regular.ttf);
}

*{
    margin: 0;
    font-family: myFirstFont, sans-serif;
}

nav{
    display: flex;
    background-color: white;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.nav-izq{
    display: flex;
    width: 50%;
}


.nav-der{
    display: flex;
    width: 50%;
    justify-content: right;
}

.nav-der img{
    width: 32px;
    height: 32px;
    border-radius: 32px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
}

#apps{
    margin-right: 0.5em;
    margin-left: 0;
}

#plus{
    margin: auto;
    color: rgba(0, 0, 0, 0.87);
}

#plus-2{
    margin-right: 0.5em;
}

#pfp{
    margin-right: 1.25em;
    margin-left: 0;
}

.menu{
    display: flex;
    justify-content: center;
}

.circulo{
    display: flex;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 32px;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
}

.circulo img{
    display: block;
    margin: auto;
}

.circulo:hover{
    background-color: rgba(32, 33, 36, 0.04);
    cursor: pointer;
}

.material-symbols-outlined { /* menu */
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: rgb(95, 99, 104);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
    margin-right: 1em;
}
  

#logo{
    width: 28px;
    height: 28px;
    margin-top: auto;
    margin-bottom: auto;
}

.logo{
    display: flex;
    height: 28px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
}

.logo p a{
    font-family: myFirstFont, sans-serif;
    font-size: 22px;
    margin-left: 10px;
    color: rgb(95, 99, 104);
    text-decoration: none;
}

.logo:hover{
    p a{
        color: rgb(30, 142, 62);
        text-decoration: underline;
    }
    cursor: pointer;
}

.contenido{
    display: flex;
    width: 100%;
    min-height: 1000px;
}

.contenido-tab{
    background-color: white;
    min-width: 76px;
    border-right: 1px solid rgb(224, 224, 224);
}

.contenido-clases{
    width: 100%;
}

.container-tab{
    display: flex;
    margin-top: 0.5em;
    background-color: transparent;
    height: 40px;
    width: 64px;
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
    justify-content: center;
}

.container-tab *{
    padding-left: 0.32em;
}

#seleccionado{
    background-color: rgb(232, 240, 254);
}

.container-tab:hover{
    background-color: rgba(32, 33, 36, 0.04);
    cursor: pointer;
}

.separacion-tab{
    border-bottom: 1px solid rgb(224, 224, 224);
    border-top: 1px solid rgb(224, 224, 224);;
    margin-top: 0.5em;
}

.especial-container-tab{
    display: flex;
    height: 40px;
    width: 64px;
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.especial-container-tab:hover{
    background-color: rgba(32, 33, 36, 0.04);
    cursor: pointer;
}

#flechader{
    margin: 0;
    margin-bottom: auto;
    margin-top: auto;
}

#escuela{
    margin: 0;
    margin-bottom: auto;
    margin-top: auto;
}

#salto{
    margin-top: 0em;
}

.contenido-clases-bloque{
    width: 300px;
    height: 294px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(218, 220, 224);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-top: 1.5em;
    margin-left: 1.45em;
}

.contenido-clases-bloque-1{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(177, 190, 185);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.contenido-clases-bloque-1-1{
    width: 85%;
    display: block;
}

.bloque-links{
    margin-top: 1em;
    margin-left: 1em;
    display: block;
}

.bloque-links a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 400;
}

/* faltaría hacer que tambien ponga underline en los dempas */
.bloque-links a:hover{
    text-decoration: underline;
}

.bloque-links img{
    position: absolute;
    width: 75px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    top: 9.5em;
    left: 19.3em;
}

#escuela2, #autor{
    font-size: 14px;
    font-weight: 400;
    margin-top: 0.25em;
}

#autor{
    margin-top: 0.5em;
}

.contenido-clases-bloque-1-2{
    display: flex;
    width: 15%;
    justify-content: center;
}

.contenido-clases-bloque-2{
    width: 100%;
    height: 137px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

#tres-puntos-c{
    margin: 0;
    margin-top: 0.5em;
    margin-right: 0.7em;
}

#tres-puntos{
    color: white;
}

.contenido-clases-bloque-3{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: right;
}

#folder{
    display: flex;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5em;
}
